@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

header {
    padding-top: 10px;
}

.img-logo {
    margin-top: 8px;
    width: 77%;
    height: 85%;
}

.coming-soon {
    color: #ffffff;
    margin-top: 20%;
}

.coming-soon h3 {
    color: #E93A3A;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}

.coming-soon p {
    font-family: 'Montserrat', sans-serif;
    color: #a3a3a3;
    line-height: 0.2;
    font-size: 15px;
}

/* slider */
#maximage {
    display: none;
    position: fixed !important;
}

.gradient {
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}

/* timer */
.time {
    color: #a3a3a3;
    text-transform: lowercase;
    display: flex;
    justify-content: left;
}

.time span {
    padding-top: 10px;
    padding-right: 20px;
    font-size: 15px;
    line-height: 1.2;
}

.time span div {
    color: #fff;
    font-size: 60px;
}

.middle {
    text-align: center;
}

/* footer */
.footer-copyright {
    margin-bottom: 8px;
    color: #a3a3a3;
}

.footer-copyright a {
    color: #ffffff !important;
}

.social-media-link {
    padding-top: 8px;
    float: right;
    font-size: 30px;
    color: #ffffff;
    padding-left: 20px;
}

.social-media-link:hover {
    color: #ffffff;
}

.social-media:hover {
    transition: all 0.6s;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    color: #E93A3A;
    font-size: 40px;
}



/* media */
@media (max-width: 576px) {
    .coming-soon {
        margin-top: 15%;
        text-align: center;
    }
    .coming-soon p {
        line-height: 1.5;
    }
    .time {
        justify-content: center;
    }
    .footer-copyright {
        text-align: center;
        font-size: 12px;
    }
    .social-media-link {
        font-size: 22px;
        padding-left: 12px;
    }
    .social-media:hover {
        font-size: 35px;
    }
}

@media (min-width: 577px) {
    .coming-soon {
        margin-top: 15%;
    }
    .footer-copyright {
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    .coming-soon {
        margin-top: 20%;
    }
    .footer-copyright {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    .coming-soon {
        margin-top: 15%;
    }

}

@media (min-width: 1200px) {
    .info .logo-into {
        margin-top: 20%;
    }
}